@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
@layer base {
  @layer base {
    :root {
      --background: 187 67% 98%;
      --foreground: 187 54% 3%;
      --muted: 157 27% 93%;
      --muted-foreground: 157 14% 30%;
      --popover: 187 67% 98%;
      --popover-foreground: 187 54% 3%;
      --card: 187 67% 98%;
      --card-foreground: 187 54% 3%;
      --border: 187 7% 89%;
      --input: 187 7% 89%;
      --primary: 187 62% 77%;
      --primary-foreground: 187 62% 17%;
      --secondary: 157 62% 77%;
      --secondary-foreground: 157 62% 17%;
      --accent: 217 62% 77%;
      --accent-foreground: 217 62% 17%;
      --destructive: 0 81% 45%;
      --destructive-foreground: 0 0% 100%;
      --ring: 187 62% 77%;
      --chart-1: 187 62% 77%;
      --chart-2: 157 62% 77%;
      --chart-3: 217 62% 77%;
      --chart-4: 157 62% 80%;
      --chart-5: 187 65% 77%;
      --radius: 0.5rem;
    }

    .dark {
      --background: 187 48% 2%;
      --foreground: 187 33% 98%;
      --muted: 157 27% 7%;
      --muted-foreground: 157 14% 70%;
      --popover: 187 48% 2%;
      --popover-foreground: 187 33% 98%;
      --card: 187 48% 2%;
      --card-foreground: 187 33% 98%;
      --border: 187 7% 14%;
      --input: 187 7% 14%;
      --primary: 187 62% 77%;
      --primary-foreground: 187 62% 17%;
      --secondary: 157 62% 77%;
      --secondary-foreground: 157 62% 17%;
      --accent: 217 62% 77%;
      --accent-foreground: 217 62% 17%;
      --destructive: 0 81% 57%;
      --destructive-foreground: 0 0% 100%;
      --ring: 187 62% 77%;
      --chart-1: 187 62% 77%;
      --chart-2: 157 62% 77%;
      --chart-3: 217 62% 77%;
      --chart-4: 157 62% 80%;
      --chart-5: 187 65% 77%;
    }
  }
}
